.btn {
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    border: 0;
    color: white;
    font-weight: 500;
    padding: 0.7em 1.2em;
    transition: 0.2s;
}

.btn:hover {
    color: orange;
    cursor: pointer;
}


@media screen and (max-width: 375px) {
    .btn {
        display: flex;
        justify-content: flex-start;
        background-color: #222;
        border: 0;
        color: white;
        font-size: .7em;
        font-weight: 500;
        padding: 0.7em 1.2em;
        transition: 0.2s;
    }
}