.project_container {
    padding: 2em 0 ;
    width: 100%;
    margin: 1em 1em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

@media screen and (max-width: 425px) {
    .project_container {
        padding: 1em 0 ;
        width: 100%;
        margin: 1em 1em;
    }
}


@media screen and (max-width: 375px) {
    .title_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        font-size: .8em;
    }
}